办理	你好 很 高兴 为 您 服务 啊 你好 问 一下 我 手机 上 还有 多少 流 流量 能 查 出来 吗 哦 您 最近 有 没 有 这个 流量 提醒 呢 呃 我 手机 刚才 呃 我 问 过 了 然后 问 了 发 了 一个 短信 它 说 我 用 了 三百三十 多兆 然后 我 想 问 一下 是 我 手机 上 总共 能 用 多少 兆 哦 您 现在 的 话 套餐 里面 总共 是 包含 的 有 四百五十兆 的 呃 是 三百兆 国内 的 三百兆 国内 的 对 的 是 三百兆 流量 哦 那 我 都 超 了 是 吧 哦 对了 那 这个 的 话 应该 是 已经 没有 流量 了 哦 那 你 能 不 能 帮 我 先 开 一个 流量包 呀 开 一个 十块 钱 的 就 够 了 哦 可以 的 现在 是 有 个 十元 加油包 是 包 国内 流量 一百兆 限 本月 使用 月底 自动 取消 您 看 可以 吗 哦 可以 可以 十块 钱 是 吧 哦 对 的 好 的 那 请 您 按 一下 你好 我 现在 如果 开通 的话 立即 就 能 用 是 吧 哦 是的 哦 好吧 好 吧 你 先 帮 我 开通 吧 好 吗 嗯行 请 您 按 一下 一号 键 帮 您 办理 请 不要 挂机 嗯 好 的 十元 上网 加油包 是 包 国内 流量 一百兆 开通 之后 立即 生效 到 月底 自动 取消 一次性 扣费 已经 帮 您 办理 成功 哦 你 这个 是 一下子 十元 就 扣 了 吗 啊 是的 嗯 好好 那 谢 啊 不 客气 还有 其他 可以 帮 您 的 吗 啊 没有 了 谢谢 那 祝 您 生活 愉快 再见 嗯
