办理	不 带 了 您好 很 高兴 为 您 服务 喂 你好 诶 麻烦 你 我 想 充 十块 钱 的 那个 国内 流量 十块 钱 能 充 多少 啊 十块 钱 它 那个 是 加油包 里面 是 一百兆 的 啊 那 行 那 麻烦 你 帮 我 办理 一下 吧 嗯 好 的 稍候 我 帮 您 转接 语音 您 按 一下 一 确认 啊 您好 先生 请 稍 等 它 这个 费用 会 一次性 收 到 月底 就 自动 取消 了 可以 吧 那 可以 但是 这个 流量 的话 下 个 月 可以 使用 吗 如果 用 不 完 的 话 啊 就 用不了 了 它 这 流量 的话 有效期 是 到 这 月底 哦 那 好 的 好 的 我 这 现在 已经 已经 买 过 了 吧 都 买 吧 对 可以 正常 用 了 嗯 那 好 的 好 的 谢谢 啊 呃 不 客气 另外 建议 稍候 您 在 您 的 手机 的 微信 上面 可以 关注 一下 移动 的 官微 我 给 您 发送 一个 关注 绑定 的 方式 方便 您 以后 在 外地 查询 话费 跟 流量 好 吧 行行 好 的 好 的 谢谢 啊 哎 不 客气 先生 其他 还 需要 帮助 吗 嗯 好 的 不 需要 了 谢谢 啊 不 客气 祝 您 生活 愉快 再见
