<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jiaocheng</title>
</head>
<body>
<h1>hello boy.</h1>
<p>教程开始，django测试</p>
{% block mainbody %}
    <p>original</p>
{% endblock %}

<h1>{{ hello }}</h1>
<h2>{{ hello }}</h2>
<h2>{{ say }}</h2>

<ul>
    {% for p in persons %}
        <li>{{ p.name }} {{ p.score }}</li>
    {% endfor %}
</ul>

{# 判断用户权限 #}
{% ifequal user currentuser %}
    <h1>Welcome!</h1>
{% else %}
    <h2>hi new person.</h2>
{% endifequal %}

<ul>
    {% for p in persons %}
        <li>{{ p.name|lower }} {{ p.score }}</li>
        <li>{{ p.name|first|upper }} {{ p.score }}</li>
        <li>{{ p.name|slice:"2" }} {{ p.score }}</li>
    {% endfor %}
</ul>
</body>
</html>